body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #065e61;
  }
  
  button, input {
    background-color: #774caf;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }